/* Relative positioning */

body {
  background-color: #f9f9f9;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 150px;
}

.box {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box:not(:last-child) {
  margin-right: 30px;
}

.box.relative {
  position: relative;
  top: 120px;
  left: 120px;
}

.box:nth-of-type(1) {
  background-color: teal;
}

.box:nth-of-type(2) {
  background-color: orange;
}

.box:nth-of-type(3) {
  background-color: palevioletred;
}

/* Absolute positioning */

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.thumb {
  position: relative;
  width: 300px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.thumb:not(:last-child) {
  margin-right: 30px;
}

.thumb:nth-of-type(1) {
  background-image: url('https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=320');
  background-size: contain;
}

.thumb:nth-of-type(2) {
  background-image: url('https://images.pexels.com/photos/2558605/pexels-photo-2558605.jpeg?auto=compress&cs=tinysrgb&dpr=2&&w=320');
  background-size: contain;
}

.thumb:nth-of-type(3) {
  background-image: url('https://images.pexels.com/photos/1300361/pexels-photo-1300361.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=320');
  background-size: contain;
}

.label {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  padding: 8px 16px;

  font-size: 24px;
  color: #fff;
  background-color: #2196f3;

  border-bottom-left-radius: 4px;
}

/* Fixed positioning */

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

.chat-button {
  position: fixed;
  right: 210px;
  bottom: 30px;

  display: inline-block;
  width: 100px;
  height: 100px;

  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  background-image: url('https://cdn-icons-png.flaticon.com/512/1653/1653630.png');
  background-size: contain;

  cursor: pointer;
}

/* Sticky positioning */

.section-title {
  position: sticky;
  top: -1px;

  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 24px;
  text-transform: uppercase;
  text-align: center;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.section-text {
  font-size: 18px;
  margin-bottom: 0;
}

.section:nth-of-type(1) .section-title {
  color: #fff;
  background-image: repeating-linear-gradient(
    -45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.section:nth-of-type(2) .section-title {
  background-image: repeating-linear-gradient(
    to right,
    #f6ba52,
    #f6ba52 10px,
    #ffd180 10px,
    #ffd180 20px
  );
}

.section:nth-of-type(3) .section-title {
  color: #fff;
  background-image: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #4b026f 10px,
    #4b026f 20px
  );
}

.section:nth-of-type(4) .section-title {
  color: #fff;
  background-image: repeating-linear-gradient(
    to right,
    #ff8a00,
    #ff8a00 10px,
    #e52e71 10px,
    #e52e71 20px
  );
}
