/* Property fill */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  color: #2a2a2a;
}

.container {
  padding: 16px;
  display: flex;
  justify-content: center;
  background-color: #ccc;
}

.icon {
  display: inline-flex;
  border: 3px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
}

.icon + .icon {
  margin-left: 30px;
}

.icon:hover {
  fill: #03a9f4;
}

/* Property fill-opacity */

.icon.opacity {
  display: inline-flex;
  border: 3px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
  fill-opacity: 0.7;
}

.icon.opacity:hover {
  fill: #03a9f4;
}

/* Property stroke */

.icon.stroke {
  display: inline-flex;
  border: 3px dashed #2a2a2a;
  border-radius: 8px;
  stroke: red;
  fill: #2a2a2a;
}

.icon.stroke:hover {
  fill: #03a9f4;
}

/* Property stroke-width */

.icon.stroke-width {
  display: inline-flex;
  border: 3px dashed #2a2a2a;
  border-radius: 8px;
  stroke: red;
  stroke-width: 3px;
  fill: #2a2a2a;
}

.icon.stroke-width:hover {
  fill: #03a9f4;
}

/* Property stroke-opacity */

.icon.stroke-opacity {
  display: inline-flex;
  border: 3px dashed #2a2a2a;
  border-radius: 8px;
  stroke: red;
  stroke-width: 3px;
  stroke-opacity: 0.7;
  fill: #2a2a2a;
}

.icon.stroke-opacity:hover {
  fill: #03a9f4;
}
